@using WebPanel.Models

<h2>Customers</h2>
<style>
    .kurwa{
          text-align: center!important  
    }
    kurwa{
          text-align: center!important  
    }
    #kurwa{
  text-align: center!important  
    }
    td[role=columnheader] {  
    text-align: center!important;
    font-weight:700;
    color:black;
    }
</style>

<script src="https://unpkg.com/devextreme-intl@18.2/dist/devextreme-intl.min.js"></script>  
<script src="https://cdn3.devexpress.com/jslib/18.2.7/js/localization/dx.messages.cs.js"></script>  

<script>  
    DevExpress.localization.locale("pl-PL");  
    DevExpress.config({ defaultCurrency: "PLN" });  
</script>  

@(Html.DevExtreme().DataGrid<Customers>()
    .ID("gridContainer")
    .DataSource(d => d.WebApi().Controller("Customer").LoadAction("Get").Key("Id"))
    .Paging(p => p.PageSize(15))
    .ShowBorders(true)
    .Columns(columns => {
        columns.AddFor(m => m.Name);

        columns.AddFor(m => m.Balance).Format(Format.Currency); 

        columns.AddFor(m => m.Id);

    })
    .MasterDetail(m => m
        .Enabled(true)
        .Template(new TemplateName("gridContainer-details"))
    )
)

@using(Html.DevExtreme().NamedTemplate("gridContainer-details")) {
    @(Html.DevExtreme().TabPanel()
        .Items(items => {
            items.Add()
                .Title("Transactions")
                .Template(new TemplateName("gridContainer-details-tab1Template1"))
                .Option("tabExtras", new { Id = new JS("data.Id") });

            items.Add()
                .Title("Invoices")
                .Template(new TemplateName("gridContainer-details-tab1Template2"))
                .Option("tabExtras", new { Id = new JS("data.Id") });

            items.Add()
                .Title("Discounts")
                .Template(new TemplateName("gridContainer-details-tab1Template3"))
                .Option("tabExtras", new { Id = new JS("data.Id") });


           
        })
    )
}

@using(Html.DevExtreme().NamedTemplate("gridContainer-details-tab1Template1")) {
     @(Html.DevExtreme().DataGrid<Transactions>()
        .ShowBorders(true)
        .DataSource(d => d.Mvc()
            .Controller("Transactions")
                        .LoadAction("GetTransactionById")
                        .LoadParams(new { Id = new JS("tabExtras.Id") })
                        .Key("Id")
            
        )
        .Paging(p => p.PageSize(5))
        .Columns(columns => {
            columns.AddFor(t => t.Product_Id);
            columns.AddFor(t => t.Description);
            columns.AddFor(t => t.Id);
            columns.AddFor(t => t.Date);
            columns.AddFor(t => t.Price).Format(Format.Currency); ;
        })
       
    )
}



@using(Html.DevExtreme().NamedTemplate("gridContainer-details-tab1Template2")) {
     @(Html.DevExtreme().DataGrid<Invoices>()
        .ShowBorders(true)
        .DataSource(d => d.Mvc()
            .Controller("Invoices")
                        .LoadAction("GetInvoicesById")
                        .LoadParams(new { Id = new JS("tabExtras.Id") })
                        .Key("Id")
            
        )
        .Paging(p => p.PageSize(5))
        .Columns(columns => {
             columns.AddFor(t => t.InvoiceNo);
            columns.AddFor(t => t.Date);
            columns.AddFor(t => t.Price).Format(Format.Currency); ;
            
        })
       
    )

}
<script>
    function myDataGridColumn_setCellValue(arg) {
        return tabExtras.Id;
    }

    
    
   
</script>


@using(Html.DevExtreme().NamedTemplate("gridContainer-details-tab1Template3")) {
     @(Html.DevExtreme().DataGrid<Discounts>()
        .ShowBorders(true)
        .Editing(editing => {
        editing.Mode(GridEditMode.Row);
        editing.AllowAdding(true);
        editing.AllowDeleting(true);
        
    })
        .Height("90%")
        .Paging(p => p.PageSize(5))
        .Columns(columns => {
            columns.AddFor(t => t.Id).AllowEditing(false).Visible(false);
            columns.AddFor(t => t.Name).Lookup(lookup => lookup.DataSource(d => d.Mvc().Controller("Product").LoadAction("Get").Key("Id")).ValueExpr("Name").DisplayExpr("Name"));
            columns.AddFor(t => t.Description);
            columns.AddFor(t => t.UnitOfUsageId).Lookup(lookup => lookup.DataSource(d => d.Mvc().Controller("UnitOfUsage").LoadAction("Get").Key("Id")).ValueExpr("Id").DisplayExpr("Name"));
            columns.AddFor(t => t.Price).Format(Format.Currency); ;
            columns.AddFor(t => t.Discount_Percentage).Format(Format.Percent);
            columns.AddFor(t => t.Customer_Price).Format(Format.Currency);
            columns.AddFor(t => t.Customer_Id).AllowEditing(false).Visible(false);
        })
        .DataSource(d => d.Mvc()
            .Controller("Discount")
                        .LoadAction("GetDiscountsById")
                        .LoadParams(new { Id = new JS("tabExtras.Id") })
                        .Key("Id")
                        .InsertAction("Post")
                        .DeleteAction("Delete")
                        
                        
                        
            
        )
        .OnInitNewRow(@<text>function(e){


               
              e.data.Customer_Id = tabExtras.Id;
              
                }</text>)
        
       
    )

}


