
@using WebPanel.Models

<h2>Customers</h2>
<style>
    .kurwa{
          text-align: center!important  
    }
    kurwa{
          text-align: center!important  
    }
    #kurwa{
  text-align: center!important  
    }



    td[role=columnheader] {  
    text-align: center!important;
    font-weight:700;
    color:black;
    }

</style>
@(Html.DevExtreme().DataGrid<Customers>()
    .ShowBorders(true)
    .DataSource(d => d.Mvc().Controller("Customer").LoadMethod("Get").Key("Id").LoadAction("Get"))
    .Columns(columns => {
        columns.AddFor(m => m.Name).Width("60%");
        columns.AddFor(m => m.Balance).Width("10%");
        columns.AddFor(m => m.Id).Width("30%").CssClass("kurwa");
   
    })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(false))
    .GroupPanel(p => p.Visible(false))
    .ShowColumnLines(true)
    .ShowRowLines(true)
    .Height("90%")
    .MasterDetail(m => m
        .Enabled(true)
        .Template(new TemplateName("gridContainer-details"))
    )
    )



        
@using(Html.DevExtreme().NamedTemplate("gridContainer-details")) {
    @(Html.DevExtreme().TabPanel()
        .Items(items => {
            items.Add()
                .Title("Transactions")
                .Template(new TemplateName("data1"));
                  items.Add()
                .Title("Invoices")
                .Template(new TemplateName("data2"));
                  items.Add()
                .Title("Discounts")
                .Template(new TemplateName("data3"));
                
        })
    )
}


@using(Html.DevExtreme().NamedTemplate("data1")) {
    @(Html.DevExtreme().DataGrid<Transactions>()
        .ShowBorders(true)
        .DataSource(d => d.Mvc()
            .Controller("Transactions")
            .LoadAction("Get")
            
        )
        .Paging(p => p.PageSize(5))
        .Columns(columns => {
            columns.AddFor(t => t.Product_Id);
            columns.AddFor(t => t.Description);
            columns.AddFor(t => t.Customer_Id);
            columns.AddFor(t => t.Id);
            columns.AddFor(t => t.Date);
            columns.AddFor(t => t.Price);
        })
       
    )
}

@using(Html.DevExtreme().NamedTemplate("data2")) {
    @(Html.DevExtreme().DataGrid<Invoices>()
        .ShowBorders(true)
        .DataSource(d => d.Mvc()
            .Controller("Invoices")
            .LoadAction("Get")
            
        )
        .Paging(p => p.PageSize(5))
        .Columns(columns => {
            columns.AddFor(t => t.InvoiceNo);
            columns.AddFor(t => t.Date);
            columns.AddFor(t => t.Price);
            columns.AddFor(t => t.Document_Path);
        })
       
    )
}

@using(Html.DevExtreme().NamedTemplate("data3")) {
    @(Html.DevExtreme().DataGrid<Discounts>()
        .ShowBorders(true)
        .DataSource(d => d.Mvc()
            .Controller("Discount")
            .LoadAction("Get")
            
        )
        .Paging(p => p.PageSize(5))
        .Columns(columns => {
            columns.AddFor(t => t.Name);
            columns.AddFor(t => t.Description);
            columns.AddFor(t => t.UnitOfUsage);
            columns.AddFor(t => t.Price);
            columns.AddFor(t => t.Discount_Percentage);
            columns.AddFor(t => t.Customer_Price);
        })
       
    )
}

