@using WebPanel.Controllers
@using WebPanel.Models
<!DOCTYPE html>
@{
    Guid guid = new Guid("3fa85f62-5717-4562-b3fc-2c963f66afa6");
    Customers customer;
    List<Customers> ListCustomers = CustomerController.GetCustomers();
    decimal Balance = CustomerController.GetBalance(guid);
    Balance = Math.Round(Balance, 2);
    customer = ListCustomers.Find(c => c.Id == guid);

}

    

<html>
<head>
    <style>
.parent {
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(15, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
height:100vh;
}

.menu{
    display:flex;
    justify-content: center!important;
    align-content:center!important;
    align-items:center!important;
}
a{
    text-decoration: none!important;
    color: whitesmoke!important;
}
.menu-item{
   
    text-decoration: none!important;
    color: whitesmoke!important;
  transition: text-shadow .3s;
}

.menu-item:hover{
    color:white;
   text-shadow: 0 0 .9px #FFFFFF, 0 0 .9px #FFFFFF, 0 0 .9px #FFFFFF;
}
.menu{
    margin-top: 5%!important;
    font-size:15px;
    letter-spacing: 0.2px
   
}
#right{
     position:absolute;
  right:4%;
  top:2.6%;

  border: none !important;
   width:130px;
   height:40px;
   background:transparent;
   z-index:50;
}
.right-display{
    
   user-select: none;
  position:absolute;
  right:4%;
  top:2.6%;
  color:white!important;
  
}
.icont{
    font-size:25px!important;
}
.Bill{
    margin:25px!important;
    font-size:20px;
    font-weight:bold;
}
 #functionbutton{
     width:170px;
     position:absolute;
     right:1.5%;
     top:2.3%;
  background: transparent;
    border: none !important;
   

 }
  #functionbutton2{
     width:25px;
     height:15px;
 }

 #Numb{
     width:40%;
 }
 .usericon{
     position:absolute;
     right:1%;
 }
.div1 { grid-area: 2 / 1 / 16 / 2;background-color:#2699fb; display: flex; justify-content: center; color: white;}
.div2 { grid-area: 1 / 1 / 2 / 11; background-color:#2699fb; display: flex; align-items: center; color: white;}
.div3 { grid-area: 2 / 2 / 16 / 11;padding:5%;t }




</style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WebPanel</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill@21_2/dist/dx-quill.min.js"></script> *@
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <script src="~/js/vendor.js" asp-append-version="true"></script>
</head>
<body>




<div id="container">

  

    @(Html.DevExtreme().Popup()
        .ID("employee-popup")
        .Width(600)
        .Height(400)
        .ShowTitle(true)
        .Title("Deposit")
        
        .DragEnabled(false)
        .HideOnOutsideClick(false)
        .ShowCloseButton(true)
        .ToolbarItems(barItems => {
            barItems.Add()
                .Toolbar(Toolbar.Bottom)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Text("Deposit")
                    .OnClick(@<text>
                                            function hideInfo(data) {
                                                 var lamb = document.getElementById("Numb").value;
                         
                        console.log(lamb);

                        $.post("/Transactions/PostBalance/?deposit=" + lamb);

                        $(document).ajaxStop(function() {
                            console.log("refresh");
                            location.reload(true);
                        });
                                                const popup = $("#employee-popup").dxPopup("instance");
                                                popup.hide();
                                            }
                                        </text>)
                );
        })
    )

   

            @(Html.DevExtreme().Button()
                     .ID("right")
                    .Text("")
                    .OnClick(@<text>
                                            function showInfo(data) {
                                                const popup = $("#employee-popup").dxPopup("instance");
                                                popup.option({
                                                    contentTemplate: $("#popup-template"),
                                                });
                                                popup.show();
                                            }
                                        </text>)
                )

            @using (Html.DevExtreme().NamedTemplate("popup-template")) {
                <span>
                    <h2>@customer.Name</h2>
                    <p>
                        Guid: @customer.Id
                    </p>
                    <p>
                       Balance: @Balance-
                    </p>
                    <p>
                           <b>Enter a deposit</b>
                    </p>
                    <p>
                            <input class="form-control" type="number" id="Numb"/>
                    </p>
                </span>
            }
</div>











    <script defer>
    


function Deposit() {
    var lamb = document.getElementById("Numb").value;
     
    console.log(lamb);

    $.post("/Transactions/PostBalance/?deposit=" + lamb);

    $(document).ajaxStop(function() {
        console.log("refresh");
        location.reload(true);
    });
   
}



</script>

    

  <div class="parent">
   
<div id="div1" class="div1">
<div class="Menu">
<div>
    <a class="menu-item" asp-controller="Home" asp-action="Transactions">Transactions</a>
</div>
  <div>
    <a class="menu-item" asp-controller="Home" asp-action="Invoices">Invoices</a>
</div>
<div>
    <a class="menu-item" asp-controller="Home" asp-action="Products">Products</a>
</div>
<div>
    <a class="menu-item" asp-controller="Home" asp-action="Customers">Customers</a>
</div>
</div>




</div>



<div id="div2" class="div2"> 
    <div class="Bill">
         Billing Service
    </div>

     <div class="right-display">
        Balance: @Balance z³
     </div>
         <div class="usericon">
             <i class="dx-icon-user icont"></i>
         </div>
         
   <div>
       <img />
   </div>

</div>




<div id="3" class="div3"> @RenderBody()</div>
</body>

</html>